---
import Layout from "@/layouts/DefaultLayout.astro";
import { getCollection, type CollectionEntry, getEntry } from "astro:content";
import { Container } from "@/components/ui/container";
import { Card, CardDescription, CardHeader, CardTitle } from "@/components/ui/card";
import { Stack } from "@/components/ui/stack";

export async function getStaticPaths() {
	const categories = await getCollection("categories");
	
	return categories.map((entry) => ({
		params: {
			category: entry.id,
		},
		props: {
			entry
		}
	}));
}

interface Props {
	entry: CollectionEntry<"categories">;
}

const { entry } = Astro.props;

const rawEntries = await getCollection("knowledge", ({ data }) => {
	if (data.category.id === entry.id) {
		return true;
	}

	if (data["additional-categories"]?.some((c) => c.id === entry.id)) {
		return true;
	}

	return false;
});

const knowledgeEntries = await Promise.all(rawEntries.map(async (e) => ({
	...e,
	data: {
		...e.data,
		author: await getEntry(e.data.author)
	}
})));

---

<Layout title={entry.data.name}>
	<Container>
		<Stack>
			<h1 class="text-5xl font-bold" transition:name={entry.id + "title"}>{entry.data.name}</h1>

			{knowledgeEntries.map((e) => (
				<a
					href={"/knowledge/" + e.slug}
				>
					<Card>
						<CardHeader>
							<CardTitle transition:name={e.id + "title"}>{e.data.title}</CardTitle>
							<CardDescription>
								<span transition:name={e.data.author.id}>{e.data.author.data.name}</span><br/>
								<span transition:name={e.id + "description"}>{e.data.description}</span>
							</CardDescription>
						</CardHeader>
					</Card>
				</a>
			))}
		</Stack>
	</Container>
</Layout>
