---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import { Card, CardContent, CardHeader, CardDescription, CardTitle } from "./ui/card";

const partners = await getCollection("contributors", ({data}) => data?.partner);
---

<Card className="bg-gradient-to-bl from-secondary/25 via-transparent h-full">
	<CardHeader>
		<CardTitle>
			Our Partners
		</CardTitle>
		<CardDescription>
			The people who we work with to make everything possible
		</CardDescription>
	</CardHeader>

	<CardContent>
		<div class="flex flex-wrap flex-row gap-4 items-center">
			{partners.map((partner) => (
				<a
					class="flex flex-col items-center w-32"
					href={partner.data.link}
					target="_blank"
					rel="noopener noreferrer"
				>
					<Image
						class="rounded w-24 h-24 object-cover"
						src={partner.data.avatar}
						alt={partner.data.name}
					/>
					<h3 class="text-center text-md text-muted-foreground">{partner.data.name}</h3>
				</a>
			))}
		</div>
	</CardContent>
</Card>
