---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import { Card, CardDescription, CardHeader, CardTitle } from "./ui/card";
import { Badge } from "./ui/badge";
import { DoubleArrowRightIcon } from "@radix-ui/react-icons";


const projects = await getCollection("projects");

// 2 2 1 1
// 2 2 1 1
// 1 1 2 2
// 2 2 1 1
const getSpanClassName = (idx: number) => {
	let className = "";

	if (idx >= 11) {
		idx = 0;
	}

	if ([0, 7, 8].includes(idx)) {
		className += "col-span-1 md:col-span-2 min-h-[256px]";
	} else {
		className += "col-span-1";
	}

	if (idx === 0) {
		className += " row-span-2";
	} else {
		className += " row-span-1"
	}

	return className
}

const date = new Date();
---

<div
	class="grid grid-flow-row grid-cols-1 md:grid-cols-4 gap-2 justify-center pb-4"
>
	{projects.map((project, idx) => (
		<a
			href={project.body ? ("/projects/" + project.slug) : (project.data?.link || undefined)}
			target={!project.body && project.data?.link ? "_blank" : undefined}
			class={getSpanClassName(idx)}
		>
			<Card className="w-full h-full">
				{project.data?.cover &&
					<Image
						src={project.data.cover}
						transition:name={"cover" + project.id}
						alt={project.data.title}
						loading="lazy"
						style={{
							maskImage: `linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1))`,
							"-webkit-mask-image": `linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1))`,
						}}
						class="absolute top-0 left-0 w-full h-full z-0 object-cover opacity-50"
					/>
				}
				<CardHeader className="relative z-10">
					{project.data.date?.getTime() > Date.now() ?
						<Badge className="self-start">
							Upcoming
							<DoubleArrowRightIcon className="ml-1" />
						</Badge>
					: null}
					<CardTitle>
						<p transition:name={"title" + project.id}>
							{project.data.title}
						</p>
					</CardTitle>
					<CardDescription transition:name={"description" + project.id} className={project.data?.cover ? "text-foregorund" : ""}>
						{project.data.description}
					</CardDescription>
				</CardHeader>
			</Card>
		</a>
	))}
</div>
