---
import { getCollection } from "astro:content";
import { Card, CardContent, CardHeader, CardDescription, CardTitle } from "./ui/card";

const specials = await getCollection("contributors", ({data}) => data?.special);
---

<Card className="bg-gradient-to-tr from-primary/25 via-transparent h-full">
	<CardHeader>
		<CardTitle>
			Special mentions
		</CardTitle>
		<CardDescription>
			The people who help us along the way
		</CardDescription>
	</CardHeader>

	<CardContent>
		<div class="flex flex-wrap flex-row gap-4 items-center">
			{specials.map((special) => (
				<a
					class="flex flex-col items-center w-32"
					href={special.data.link}
					target="_blank"
					rel="noopener noreferrer"
				>
					<img
						class="rounded w-24 h-24 object-cover"
						src={special.data.avatar}
						alt={special.data.name}
						loading="lazy"
					/>
					<h3 class="text-center text-md text-muted-foreground">{special.data.name}</h3>
				</a>
			))}
		</div>
	</CardContent>
</Card>
